-- CreateEnum
CREATE TYPE "AccountCategoryType" AS ENUM ('ASSET', 'LIABILITY', 'EQUITY', 'REVENUE', 'EXPENSE');

-- CreateEnum
CREATE TYPE "AccountNormalBalance" AS ENUM ('DEBIT', 'CREDIT');

-- CreateEnum
CREATE TYPE "AppInstanceStatus" AS ENUM ('ACTIVE', 'SUSPENDED');

-- CreateEnum
CREATE TYPE "AppRole" AS ENUM ('OWNER', 'ADMIN', 'MANAGER', 'STAFF', 'VIEWER');

-- CreateEnum
CREATE TYPE "BusinessCategory" AS ENUM ('GENERAL', 'RETAIL_FNB', 'SERVICES_AUTOMOTIVE');

-- CreateEnum
CREATE TYPE "JournalEntrySourceType" AS ENUM ('POS_SALE', 'EXPENSE', 'MANUAL', 'ADJUSTMENT', 'OPENING_BALANCE');

-- CreateEnum
CREATE TYPE "ModuleAssignmentSource" AS ENUM ('CORE', 'BUNDLE', 'ADDON', 'TRIAL', 'MANUAL_OVERRIDE');

-- CreateEnum
CREATE TYPE "ModuleDefinitionStatus" AS ENUM ('ACTIVE', 'DEPRECATED', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "OrderStatus" AS ENUM ('PENDING', 'PREPARING', 'READY_FOR_PICKUP', 'COMPLETED', 'CANCELLED', 'PENDING_PAYMENT');

-- CreateEnum
CREATE TYPE "OrderType" AS ENUM ('WALK_IN', 'PRE_ORDER', 'DELIVERY', 'DINE_IN', 'TAKEAWAY');

-- CreateEnum
CREATE TYPE "ShiftStatus" AS ENUM ('OPEN', 'CLOSED');

-- CreateEnum
CREATE TYPE "SubscriptionTier" AS ENUM ('Standard', 'Professional', 'Enterprise', 'Custom');

-- CreateEnum
CREATE TYPE "SyncMode" AS ENUM ('CLOUD_FIRST', 'LOCAL_FIRST', 'LOCAL_SERVER');

-- CreateEnum
CREATE TYPE "TableStatus" AS ENUM ('AVAILABLE', 'OCCUPIED', 'RESERVED');

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('SUPER_ADMIN', 'TENANT_ADMIN', 'CRM_MANAGER', 'CRM_STAFF', 'READ_ONLY');

-- CreateTable
CREATE TABLE "account_categories" (
    "id" TEXT NOT NULL,
    "code" "AccountCategoryType" NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "sort_order" INTEGER NOT NULL DEFAULT 0,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "account_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_instance_modules" (
    "id" TEXT NOT NULL,
    "app_instance_id" TEXT NOT NULL,
    "module_definition_id" TEXT NOT NULL,
    "is_enabled" BOOLEAN NOT NULL DEFAULT true,
    "source" "ModuleAssignmentSource" NOT NULL DEFAULT 'MANUAL_OVERRIDE',
    "billing_status" TEXT,
    "activated_at" TIMESTAMP(3),
    "expired_at" TIMESTAMP(3),
    "config" JSONB,
    "limits" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "app_instance_modules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_instances" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL,
    "solutionId" TEXT NOT NULL,
    "tier" "SubscriptionTier" NOT NULL,
    "status" "AppInstanceStatus" NOT NULL DEFAULT 'ACTIVE',
    "dbConnectionString" TEXT,
    "appUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "end_date" TIMESTAMP(3),
    "sync_mode" "SyncMode" NOT NULL DEFAULT 'CLOUD_FIRST',
    "addons" TEXT[] DEFAULT ARRAY[]::TEXT[],

    CONSTRAINT "app_instances_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "app_users" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "username" TEXT NOT NULL,
    "password" TEXT,
    "name" TEXT,
    "role" TEXT,
    "custom_role_id" TEXT,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "employee_type" TEXT DEFAULT 'Kasir',
    "base_salary" DECIMAL(14,2) DEFAULT 0,
    "commission_rate" DECIMAL(14,2) DEFAULT 0,

    CONSTRAINT "app_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "user_id" TEXT,
    "user_name" TEXT,
    "action_type" TEXT NOT NULL,
    "details" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "branches" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "address" TEXT,
    "phone" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "branch_code" TEXT,
    "is_main_branch" BOOLEAN NOT NULL DEFAULT false,
    "is_blind_close_enabled" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "branches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "categories" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "name" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "category_type" TEXT NOT NULL DEFAULT 'PRODUCT',

    CONSTRAINT "categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chart_of_accounts" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "account_category_id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "normal_balance" "AccountNormalBalance" NOT NULL,
    "is_system" BOOLEAN NOT NULL DEFAULT false,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "parent_account_id" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "chart_of_accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "custom_roles" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "permissions" JSONB NOT NULL,
    "is_default" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "custom_roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "customers" (
    "id" SERIAL NOT NULL,
    "tenant_id" TEXT,
    "name" TEXT NOT NULL,
    "phone" TEXT,
    "total_spent" DOUBLE PRECISION DEFAULT 0,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "customers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "daily_cash" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "amount" DECIMAL,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "daily_cash_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "expenses" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "amount" DECIMAL,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "status" TEXT,
    "void_reason" TEXT,
    "voided_at" TIMESTAMPTZ(6),
    "title" VARCHAR(255) NOT NULL,
    "category" VARCHAR(100) NOT NULL,
    "expense_date" TIMESTAMP(3) NOT NULL,
    "expense_number" VARCHAR(255),
    "description" TEXT,
    "payment_method" VARCHAR(50) DEFAULT 'Cash',
    "attachment_url" VARCHAR(255),
    "category_type" VARCHAR(50),
    "reference_id" VARCHAR(255),

    CONSTRAINT "expenses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "journal_entries" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "entry_number" TEXT NOT NULL,
    "entry_date" TIMESTAMP(3) NOT NULL,
    "source_type" "JournalEntrySourceType" NOT NULL DEFAULT 'MANUAL',
    "reference_id" TEXT,
    "reference_number" TEXT,
    "description" TEXT,
    "total_debit" DECIMAL(18,2) NOT NULL,
    "total_credit" DECIMAL(18,2) NOT NULL,
    "is_posted" BOOLEAN NOT NULL DEFAULT true,
    "created_by_user_id" TEXT,
    "posted_at" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "journal_entries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "journal_lines" (
    "id" TEXT NOT NULL,
    "journal_entry_id" TEXT NOT NULL,
    "chart_of_account_id" TEXT NOT NULL,
    "line_number" INTEGER NOT NULL,
    "description" TEXT,
    "debit" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "credit" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "journal_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "kas_bon" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "kas_bon_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "kas_bon_payment_history" (
    "id" BIGSERIAL NOT NULL,
    "sales_record_id" BIGINT NOT NULL,
    "paid_amount" DECIMAL(14,2) NOT NULL,
    "previous_balance" DECIMAL(14,2) NOT NULL,
    "remaining_balance" DECIMAL(14,2) NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "tenant_id" TEXT,
    "payment_method" TEXT,
    "paid_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "note" TEXT,

    CONSTRAINT "kas_bon_payment_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "module_definitions" (
    "id" TEXT NOT NULL,
    "module_key" TEXT NOT NULL,
    "display_name" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "description" TEXT,
    "is_core" BOOLEAN NOT NULL DEFAULT false,
    "status" "ModuleDefinitionStatus" NOT NULL DEFAULT 'ACTIVE',
    "dependencies" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "default_config" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "module_definitions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "order_history" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "supplier_name" TEXT NOT NULL,
    "supplier_phone" TEXT,
    "message_body" TEXT,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "order_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "order_history_items" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "order_history_id" BIGINT,
    "is_manual" BOOLEAN DEFAULT false,
    "product_id" BIGINT,
    "manual_item_id" BIGINT,
    "item_name" TEXT NOT NULL,
    "qty" INTEGER DEFAULT 1,
    "notes" TEXT,
    "supplier_name" TEXT,
    "ordered_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "is_archived" BOOLEAN DEFAULT false,
    "is_received" BOOLEAN DEFAULT false,
    "received_at" TIMESTAMP(3),
    "received_qty" INTEGER,
    "received_purchase_price" INTEGER,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "order_history_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "petty_cash_logs" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tenant_id" TEXT,
    "user_id" TEXT,
    "amount" INTEGER,
    "type" TEXT,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "user_name" TEXT,

    CONSTRAINT "petty_cash_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "products" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT,
    "name" TEXT NOT NULL,
    "barcode" TEXT,
    "category" TEXT,
    "price" DOUBLE PRECISION DEFAULT 0,
    "purchase_price" DOUBLE PRECISION,
    "stock" INTEGER DEFAULT 0,
    "is_service" BOOLEAN DEFAULT false,
    "supplier_name" TEXT,
    "image_url" TEXT,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "reference_id" TEXT,
    "branch_id" BIGINT,
    "product_type" TEXT NOT NULL DEFAULT 'Barang',
    "is_available" BOOLEAN DEFAULT true,

    CONSTRAINT "products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "restock_history" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "restock_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_record_items" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "sales_record_id" BIGINT NOT NULL,
    "product_id" TEXT,
    "product_name" TEXT,
    "qty" INTEGER NOT NULL DEFAULT 1,
    "custom_price" DECIMAL(14,2),
    "note" TEXT,
    "is_service" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "is_custom_item" BOOLEAN NOT NULL DEFAULT false,
    "custom_name" TEXT,
    "item_note" TEXT,
    "mechanic_id" VARCHAR(255),
    "employee_id" VARCHAR(255),

    CONSTRAINT "sales_record_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sales_records" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "reference_id" TEXT,
    "payment_method" TEXT,
    "payment_type" TEXT,
    "total_price" DECIMAL,
    "total_amount" DECIMAL,
    "remaining_balance" DECIMAL,
    "outstanding_balance" DECIMAL,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "receipt_number" TEXT,
    "cashier_id" TEXT,
    "cashier_name" TEXT,
    "payment_status" TEXT,
    "items_json" JSONB,
    "customer_name" TEXT,
    "total_discount" BIGINT,
    "total_tax" BIGINT,
    "total_profit" BIGINT,
    "amount_paid" DECIMAL DEFAULT 0,
    "branch_id" BIGINT,
    "order_type" "OrderType" NOT NULL DEFAULT 'WALK_IN',
    "order_status" "OrderStatus" NOT NULL DEFAULT 'COMPLETED',
    "pickup_date" TIMESTAMP(3),
    "target_pickup_branch_id" BIGINT,
    "shift_id" BIGINT,
    "mechanic_id" TEXT,
    "mechanic_name" TEXT,
    "mechanic_commission" DECIMAL(14,2) DEFAULT 0,
    "dp_amount" DECIMAL(14,2) DEFAULT 0,
    "po_status" TEXT,
    "transaction_type" TEXT DEFAULT 'DIRECT',
    "table_id" BIGINT,

    CONSTRAINT "sales_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "service_orders" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "customer_name" TEXT NOT NULL,
    "customer_phone" TEXT,
    "device_type" TEXT NOT NULL,
    "device_brand" TEXT,
    "serial_number" TEXT,
    "complaint" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "estimated_cost" DECIMAL(14,2),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "technician_notes" TEXT,
    "service_details" JSONB,
    "mechanic_id" TEXT,
    "mechanic_name" TEXT,
    "payment_status" TEXT,
    "paid_at" TIMESTAMPTZ(6),

    CONSTRAINT "service_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "shifts" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "branch_id" BIGINT NOT NULL,
    "user_id" TEXT NOT NULL,
    "start_time" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "end_time" TIMESTAMP(3),
    "status" "ShiftStatus" NOT NULL DEFAULT 'OPEN',
    "starting_cash" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "expected_cash" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "actual_cash" DECIMAL(14,2),
    "difference_cash" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "expected_qris" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "actual_qris" DECIMAL(14,2),
    "difference_qris" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "expected_transfer" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "actual_transfer" DECIMAL(14,2),
    "difference_transfer" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "shifts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "solutions" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "solutions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "store_settings" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "key" TEXT,
    "value" TEXT,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "store_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "suppliers" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "name" TEXT NOT NULL,
    "phone" TEXT,
    "address" TEXT,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "suppliers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tables" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "table_number" TEXT NOT NULL,
    "capacity" INTEGER NOT NULL,
    "status" "TableStatus" NOT NULL DEFAULT 'AVAILABLE',
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tables_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tenants" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "address" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "city" TEXT,
    "country" TEXT,
    "bridge_api_url" TEXT,
    "logo_url" TEXT,
    "logo_object_key" TEXT,
    "show_inventory_images" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "tenants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transactions" (
    "id" BIGSERIAL NOT NULL,
    "tenant_id" TEXT,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "mechanic_id" TEXT,
    "mechanic_name" TEXT,
    "mechanic_commission" DECIMAL(14,2) DEFAULT 0,

    CONSTRAINT "transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_app_accesses" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "appInstanceId" TEXT NOT NULL,
    "role" "AppRole" NOT NULL DEFAULT 'STAFF',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "user_app_accesses_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "firebaseUid" TEXT,
    "email" TEXT,
    "name" TEXT NOT NULL,
    "role" "UserRole" NOT NULL DEFAULT 'CRM_STAFF',
    "tenantId" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "custom_role_id" TEXT,
    "passwordHash" TEXT,
    "username" TEXT,
    "branch_id" BIGINT,
    "employee_type" TEXT NOT NULL DEFAULT 'Kasir',
    "base_salary" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "commission_rate" DECIMAL(14,2) NOT NULL DEFAULT 0,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "account_categories_code_key" ON "account_categories"("code" ASC);

-- CreateIndex
CREATE INDEX "app_instance_modules_app_instance_id_idx" ON "app_instance_modules"("app_instance_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "app_instance_modules_app_instance_id_module_definition_id_key" ON "app_instance_modules"("app_instance_id" ASC, "module_definition_id" ASC);

-- CreateIndex
CREATE INDEX "app_instance_modules_is_enabled_idx" ON "app_instance_modules"("is_enabled" ASC);

-- CreateIndex
CREATE INDEX "app_instance_modules_module_definition_id_idx" ON "app_instance_modules"("module_definition_id" ASC);

-- CreateIndex
CREATE INDEX "app_instance_modules_source_idx" ON "app_instance_modules"("source" ASC);

-- CreateIndex
CREATE INDEX "app_instances_solutionId_idx" ON "app_instances"("solutionId" ASC);

-- CreateIndex
CREATE INDEX "app_instances_status_idx" ON "app_instances"("status" ASC);

-- CreateIndex
CREATE INDEX "app_instances_tenantId_idx" ON "app_instances"("tenantId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "app_instances_tenantId_solutionId_key" ON "app_instances"("tenantId" ASC, "solutionId" ASC);

-- CreateIndex
CREATE INDEX "app_users_tenant_id_idx" ON "app_users"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "app_users_username_idx" ON "app_users"("username" ASC);

-- CreateIndex
CREATE INDEX "idx_audit_logs_created_at_desc" ON "audit_logs"("created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_audit_logs_tenant_created_at_desc" ON "audit_logs"("tenant_id" ASC, "created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_audit_logs_tenant_id" ON "audit_logs"("tenant_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "branches_branch_code_key" ON "branches"("branch_code" ASC);

-- CreateIndex
CREATE INDEX "branches_tenant_id_idx" ON "branches"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "branches_tenant_id_is_active_idx" ON "branches"("tenant_id" ASC, "is_active" ASC);

-- CreateIndex
CREATE INDEX "categories_tenant_id_idx" ON "categories"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "chart_of_accounts_account_category_id_idx" ON "chart_of_accounts"("account_category_id" ASC);

-- CreateIndex
CREATE INDEX "chart_of_accounts_is_active_idx" ON "chart_of_accounts"("is_active" ASC);

-- CreateIndex
CREATE INDEX "chart_of_accounts_parent_account_id_idx" ON "chart_of_accounts"("parent_account_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "chart_of_accounts_tenant_id_code_key" ON "chart_of_accounts"("tenant_id" ASC, "code" ASC);

-- CreateIndex
CREATE INDEX "chart_of_accounts_tenant_id_idx" ON "chart_of_accounts"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "custom_roles_tenant_id_idx" ON "custom_roles"("tenant_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "custom_roles_tenant_id_name_key" ON "custom_roles"("tenant_id" ASC, "name" ASC);

-- CreateIndex
CREATE INDEX "idx_custom_roles_is_default" ON "custom_roles"("is_default" ASC);

-- CreateIndex
CREATE INDEX "idx_custom_roles_tenant_id" ON "custom_roles"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "customers_tenant_id_idx" ON "customers"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "daily_cash_tenant_id_idx" ON "daily_cash"("tenant_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "expenses_expense_number_key" ON "expenses"("expense_number" ASC);

-- CreateIndex
CREATE INDEX "expenses_tenant_id_idx" ON "expenses"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "idx_expenses_created_at" ON "expenses"("created_at" ASC);

-- CreateIndex
CREATE INDEX "idx_expenses_reference_id" ON "expenses"("reference_id" ASC);

-- CreateIndex
CREATE INDEX "idx_expenses_status" ON "expenses"("status" ASC);

-- CreateIndex
CREATE INDEX "idx_expenses_tenant_id" ON "expenses"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "journal_entries_created_by_user_id_idx" ON "journal_entries"("created_by_user_id" ASC);

-- CreateIndex
CREATE INDEX "journal_entries_source_type_reference_id_idx" ON "journal_entries"("source_type" ASC, "reference_id" ASC);

-- CreateIndex
CREATE INDEX "journal_entries_tenant_id_entry_date_idx" ON "journal_entries"("tenant_id" ASC, "entry_date" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "journal_entries_tenant_id_entry_number_key" ON "journal_entries"("tenant_id" ASC, "entry_number" ASC);

-- CreateIndex
CREATE INDEX "journal_lines_chart_of_account_id_idx" ON "journal_lines"("chart_of_account_id" ASC);

-- CreateIndex
CREATE INDEX "journal_lines_journal_entry_id_idx" ON "journal_lines"("journal_entry_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "journal_lines_journal_entry_id_line_number_key" ON "journal_lines"("journal_entry_id" ASC, "line_number" ASC);

-- CreateIndex
CREATE INDEX "kas_bon_tenant_id_idx" ON "kas_bon"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "idx_kas_bon_payment_history_sales_record_id" ON "kas_bon_payment_history"("sales_record_id" ASC);

-- CreateIndex
CREATE INDEX "idx_kas_bon_payment_history_tenant_id" ON "kas_bon_payment_history"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "module_definitions_category_idx" ON "module_definitions"("category" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "module_definitions_module_key_key" ON "module_definitions"("module_key" ASC);

-- CreateIndex
CREATE INDEX "module_definitions_status_idx" ON "module_definitions"("status" ASC);

-- CreateIndex
CREATE INDEX "order_history_tenant_id_idx" ON "order_history"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "order_history_items_order_history_id_idx" ON "order_history_items"("order_history_id" ASC);

-- CreateIndex
CREATE INDEX "order_history_items_tenant_id_idx" ON "order_history_items"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "idx_petty_cash_logs_created_at" ON "petty_cash_logs"("created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_petty_cash_logs_tenant_created_at" ON "petty_cash_logs"("tenant_id" ASC, "created_at" DESC);

-- CreateIndex
CREATE INDEX "petty_cash_logs_tenant_id_created_at_idx" ON "petty_cash_logs"("tenant_id" ASC, "created_at" ASC);

-- CreateIndex
CREATE INDEX "petty_cash_logs_tenant_id_idx" ON "petty_cash_logs"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "petty_cash_logs_user_id_idx" ON "petty_cash_logs"("user_id" ASC);

-- CreateIndex
CREATE INDEX "products_branch_id_idx" ON "products"("branch_id" ASC);

-- CreateIndex
CREATE INDEX "products_tenant_id_idx" ON "products"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "restock_history_tenant_id_idx" ON "restock_history"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "idx_sales_record_items_employee_id" ON "sales_record_items"("employee_id" ASC);

-- CreateIndex
CREATE INDEX "idx_sales_record_items_mechanic_id" ON "sales_record_items"("mechanic_id" ASC);

-- CreateIndex
CREATE INDEX "idx_sales_record_items_sales_record_id" ON "sales_record_items"("sales_record_id" ASC);

-- CreateIndex
CREATE INDEX "idx_sales_record_items_tenant_id" ON "sales_record_items"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "sales_records_branch_id_idx" ON "sales_records"("branch_id" ASC);

-- CreateIndex
CREATE INDEX "sales_records_order_status_idx" ON "sales_records"("order_status" ASC);

-- CreateIndex
CREATE INDEX "sales_records_order_type_idx" ON "sales_records"("order_type" ASC);

-- CreateIndex
CREATE INDEX "sales_records_reference_id_idx" ON "sales_records"("reference_id" ASC);

-- CreateIndex
CREATE INDEX "sales_records_shift_id_idx" ON "sales_records"("shift_id" ASC);

-- CreateIndex
CREATE INDEX "sales_records_table_id_idx" ON "sales_records"("table_id" ASC);

-- CreateIndex
CREATE INDEX "sales_records_target_pickup_branch_id_idx" ON "sales_records"("target_pickup_branch_id" ASC);

-- CreateIndex
CREATE INDEX "sales_records_tenant_id_idx" ON "sales_records"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "idx_service_orders_created_at" ON "service_orders"("created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_service_orders_tenant_id" ON "service_orders"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "idx_service_orders_tenant_status" ON "service_orders"("tenant_id" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "service_orders_created_at_idx" ON "service_orders"("created_at" ASC);

-- CreateIndex
CREATE INDEX "service_orders_tenant_id_idx" ON "service_orders"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "service_orders_tenant_id_status_idx" ON "service_orders"("tenant_id" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "shifts_branch_id_idx" ON "shifts"("branch_id" ASC);

-- CreateIndex
CREATE INDEX "shifts_tenant_id_branch_id_user_id_status_idx" ON "shifts"("tenant_id" ASC, "branch_id" ASC, "user_id" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "shifts_tenant_id_idx" ON "shifts"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "shifts_user_id_idx" ON "shifts"("user_id" ASC);

-- CreateIndex
CREATE INDEX "solutions_code_idx" ON "solutions"("code" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "solutions_code_key" ON "solutions"("code" ASC);

-- CreateIndex
CREATE INDEX "store_settings_tenant_id_idx" ON "store_settings"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "suppliers_tenant_id_idx" ON "suppliers"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "tables_tenant_id_idx" ON "tables"("tenant_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "tables_tenant_id_table_number_key" ON "tables"("tenant_id" ASC, "table_number" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "tenants_email_key" ON "tenants"("email" ASC);

-- CreateIndex
CREATE INDEX "tenants_slug_idx" ON "tenants"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "tenants_slug_key" ON "tenants"("slug" ASC);

-- CreateIndex
CREATE INDEX "transactions_tenant_id_idx" ON "transactions"("tenant_id" ASC);

-- CreateIndex
CREATE INDEX "user_app_accesses_appInstanceId_idx" ON "user_app_accesses"("appInstanceId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "user_app_accesses_userId_appInstanceId_key" ON "user_app_accesses"("userId" ASC, "appInstanceId" ASC);

-- CreateIndex
CREATE INDEX "users_branch_id_idx" ON "users"("branch_id" ASC);

-- CreateIndex
CREATE INDEX "users_email_idx" ON "users"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email" ASC);

-- CreateIndex
CREATE INDEX "users_firebaseUid_idx" ON "users"("firebaseUid" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "users_firebaseUid_key" ON "users"("firebaseUid" ASC);

-- CreateIndex
CREATE INDEX "users_tenantId_idx" ON "users"("tenantId" ASC);

-- CreateIndex
CREATE INDEX "users_username_idx" ON "users"("username" ASC);

-- AddForeignKey
ALTER TABLE "app_instance_modules" ADD CONSTRAINT "app_instance_modules_app_instance_id_fkey" FOREIGN KEY ("app_instance_id") REFERENCES "app_instances"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "app_instance_modules" ADD CONSTRAINT "app_instance_modules_module_definition_id_fkey" FOREIGN KEY ("module_definition_id") REFERENCES "module_definitions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "app_instances" ADD CONSTRAINT "app_instances_solutionId_fkey" FOREIGN KEY ("solutionId") REFERENCES "solutions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "app_instances" ADD CONSTRAINT "app_instances_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "branches" ADD CONSTRAINT "branches_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chart_of_accounts" ADD CONSTRAINT "chart_of_accounts_account_category_id_fkey" FOREIGN KEY ("account_category_id") REFERENCES "account_categories"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chart_of_accounts" ADD CONSTRAINT "chart_of_accounts_parent_account_id_fkey" FOREIGN KEY ("parent_account_id") REFERENCES "chart_of_accounts"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "journal_lines" ADD CONSTRAINT "journal_lines_chart_of_account_id_fkey" FOREIGN KEY ("chart_of_account_id") REFERENCES "chart_of_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "journal_lines" ADD CONSTRAINT "journal_lines_journal_entry_id_fkey" FOREIGN KEY ("journal_entry_id") REFERENCES "journal_entries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "products" ADD CONSTRAINT "products_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_records" ADD CONSTRAINT "sales_records_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_records" ADD CONSTRAINT "sales_records_shift_id_fkey" FOREIGN KEY ("shift_id") REFERENCES "shifts"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_records" ADD CONSTRAINT "sales_records_table_id_fkey" FOREIGN KEY ("table_id") REFERENCES "tables"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sales_records" ADD CONSTRAINT "sales_records_target_pickup_branch_id_fkey" FOREIGN KEY ("target_pickup_branch_id") REFERENCES "branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shifts" ADD CONSTRAINT "shifts_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "branches"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "shifts" ADD CONSTRAINT "shifts_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tables" ADD CONSTRAINT "tables_tenant_id_fkey" FOREIGN KEY ("tenant_id") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_app_accesses" ADD CONSTRAINT "user_app_accesses_appInstanceId_fkey" FOREIGN KEY ("appInstanceId") REFERENCES "app_instances"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "user_app_accesses" ADD CONSTRAINT "user_app_accesses_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_branch_id_fkey" FOREIGN KEY ("branch_id") REFERENCES "branches"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_tenantId_fkey" FOREIGN KEY ("tenantId") REFERENCES "tenants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

